<div class="masthead" ng-controller="HeaderCtrl">
    <nav>
        <ul class="nav nav-justified">
            <li ng-repeat="menu in menus" ng-cloak>
                <a href="{{menu.url}}">{{menu.label}}</a>
            </li>
			<li ng-if="!isAuthenticated" ng-cloak>
            	<a href="#" ng-click="logout()">Connexion</a>
        	</li>
			<li ng-if="isAuthenticated" ng-cloak>
            	<a href="#" ng-click="logout()">Déconnexion</a>
        	</li>
        </ul>
    </nav>
</div>
