<div ng-show="showSearch">
    <form name="formSearch" ng-submit="submit(searchCriteria)" ng-controller="SearchController">
        Ville de départ : <input id="startCity" name="startCity" ng-model="searchCriteria.startCity" class="typeahead" type="text" placeholder="Ville de départ" required>
        <div ng-show="formSearch.$submitted || formSearch.startCity.$touched">
            <div ng-show="formSearch.startCity.$error.required">Le point de départ est obligatoire.</div>
        </div>

        Ville de d'arrivée : <input id="endCity" name="endCity" ng-model="searchCriteria.endCity" class="typeahead" type="text" placeholder="Ville d'arrivée" required>
        <div ng-show="formSearch.$submitted || formSearch.endCity.$touched">
            <div ng-show="formSearch.endCity.$error.required">Le point de départ est obligatoire.</div>
        </div>
        Le
        <div id="datepicker" name="datepicker" ng-model="searchCriteria.datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
            <input ng-model="searchCriteria.date" class="form-control" type="text" readonly required/>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <div ng-show="formSearch.$submitted || formSearch.datepicker.$touched">
                <div ng-show="formSearch.datepicker.$error.required">Tell us date.</div>
            </div>
        </div>
        <input type="submit"    value="Submit">
    </form>
</div>
<script type="text/javascript">
    // Waiting for the DOM ready...
    $(function(){
        console.log('init calendar');
        // applied typeahead to the text input box
        $('#startCity').typeahead({
            name: 'countries',
            // data source
            prefetch: 'data/countries.json',
            // max item numbers list in the dropdown
            limit: 10,

        });

        $('#endCity').typeahead({
            name: 'countries',
            // data source
            prefetch: 'data/countries.json',
            // max item numbers list in the dropdown
            limit: 10,

        });


        $("#datepicker").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker('update', new Date());
    });
</script>