<!DOCTYPE html>
<html ng-app="indexApp">
<head>
    <meta charset="UTF-8" />
    <title>Notes App</title>
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap/justified-nav.css" rel="stylesheet">
    <link href="css/mbdatepicker.css" rel="stylesheet">
<!--    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
-->
    <style>
        .testClass > input {
            border-bottom: 3px solid #1A4987;
            border-left: transparent;
            border-right: transparent;
            border-top: transparent;
        }
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
        label{margin-left: 20px;}
        #datepicker{width:180px; margin: 0 20px 20px 20px;}
        #datepicker > span:hover{cursor: pointer;}
        td.day.today {
            background-color: yellow;
        }
    </style>
</head>
<body>
    <div class="container">
        <div ng-include="'views/header.html'"></div>
        <div ng-view></div>


<!-- ////////////////////////////////////////////////////////// -->

<div ng-controller="ParentController">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ng-login</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-class="getClass('state1')"><a ui-sref="state1">state1</a></li>
                    <li ng-class="getClass('state2')"><a ui-sref="state2">state2</a></li>
                    <li ng-class="getClass('adminState')"><a ui-sref="adminState">Admin Area</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" ng-click="logout()">Log Out</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
 <!-- ////////////////////////////////////////////////////////// -->

    <div class="container">
        <div ng-if="currentUser"><b>Welcome, {{ currentUser.username }}</b></div>
        <div ui-view></div>
    </div>
    </div>



    <script src="lib/jquery/jquery-1.10.1.min.js"></script>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>

    <script src="lib/mbdatepicker.js"></script>
    <script src="lib/moment.js"></script>
    <script src="lib/typeahead.min.js"></script>
    <script src="lib/angular-material.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="js/controllers/index.js"></script>



    <script src="lib/angular-ui-router.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/routing.js"></script>
    <script src="js/globalFunctions.js"></script>

    <!--FACTORY -->
    <script src="js/services/authInterceptor.js"></script>
    

    <!--CONTROLLERS -->
    <script src="js/controllers/parentCtrl.js"></script>
    <script src="js/controllers/login.js"></script>

    <!--SERVICES -->
    <script src="js/services/auth.js"></script>
    <script src="js/services/session.js"></script>


</body>
</html>